.site__header__menu__ul{
    a {
        transition: animation 0.5s;
    }
    a:hover {
        position: relative;
        animation: anim-liens 0.2s forwards;
    }
}

@keyframes anim-liens {
    0%{
        transform: translateX(0);
    }
    100% {
        transform: translateX(10px);
    }
}