/* ---------------- BACKGROUND */
$color__background-body : #B98B73;
$color__background-main : #CB997E;
$color__background-cours : #DDBEA9;
$color__background-header : #3F4238;
$color__background-barre : #6B705C;
$color__background-footer : #A5A58D;
$color__background-link : #B7B7A4;
$color__background-link-hover : #D4C7B0;

/* ---------------- LIENS */
$color__link : #3F4238;
$color__link-hover : #6B705C;
$color__link-visited : #B98B73;
/* ---------------- LIENS FOOTER */
$color__link__footer : #B98B73;
$color__link__footer-hover : #3F4238;
$color__link__footer-visited : #D4C7B0;
/* ---------------- LIENS HEADER */
$color__link__header : #DDBEA9;
$color__link__header-hover : #A5A58D;
$color__link__header-visited : #CB997E;

/* ---------------- FONT */
$color__font-header : #DDBEA9;
$color__font-main :#3F4238;
$color__font-barre : rgb(255, 255, 255);
$color__font-footer : #D4C7B0;