$foncer: rgb(11, 0, 20);
$clair: rgb(227, 181, 164);
$textes-liens:rgb(119, 51, 68);
$accents: rgb(245, 233, 226);

$ombre-petite: 2.5px 2.5px 5px rgba(0, 0, 0, .5);

/* --- Éléments principaux --- */
/* Site */
$clr-fond__select: $accents;
$clr-text__select: $clair;

/* Header */
$clr-fond__hdr: $foncer;
$clr-titre__hdr: $accents;
$clr-texte__hdr: $clair;

$clr-lien__hdr: $accents;
$clr-lien-hover__hdr: $clair;
$clr-lien-visite__hdr: $accents;

/* Footer */
$clr-fond__ftr: $foncer;
$clr-texte__ftr: $clair;
$clr-titre__ftr: $accents;
$clr-lien__ftr: $clair;
$clr-lien-visite__ftr: $textes-liens;
$clr-lien-hover__ftr: $accents;

$clr-fond__ftr-cln: $clair;
$clr-texte__ftr-cln: $foncer;
$clr-titre__ftr-cln: $accents;
$clr-lien__ftr-cln: $foncer;
$clr-lien-visite__ftr-cln: $textes-liens;
$clr-lien-hover__ftr-cln: $accents;

/* Navigation */
$clr-fond__nav: $clair;
$clr-lien__nav: $foncer;
$clr-lien-visite__nav: $textes-liens;
$clr-lien-hover__nav: $accents;

/* Main */
$clr-fond__main: $clair;
$clr-texte__main: $foncer;
$clr-titre__main: $foncer;
$clr-lien__main: $foncer;
$clr-lien-visite__main: $textes-liens;
$clr-lien-hover__main: $accents;

/* --- Éléments de contenu --- */
/* Carte */
$clr-fond__crt: $clair;
$clr-texte__crt: $foncer;
$clr-titre__crt: $foncer;
$clr-lien__crt: $foncer;
$clr-lien-visite__crt: $textes-liens;
$clr-lien-hover__crt: $accents;