$font__main: "Quicksand", sans-serif;
$font__titre: 'Red Hat Mono', monospace;

$font__titre__principal: 'Shadows Into Light', cursive;
$font__titre__secondaire: 'Shadows Into Light', cursive;
$font__titre__tertiaire: 'Shadows Into Light', cursive;
$font__paragraphe: "Quicksand", sans-serif;
