.home__menu {
    .menu {
        list-style-type: none;
        display: flex;
        flex-direction: row;

        .menu-item {
            width: 100%;
        }
    }
}

.titre__accueil__ateliers {

    .ateliers__menu {
        .menu {
            .menu-item {
                width: 24%;
                height: 350px;
                display: flex;
                flex-direction: column;
                animation: glisser-arrivee__hdr 3s forwards ease-in;
                a {
                    border: none;
                }
            }

            li:hover {
                background-color: $foncer;

                a{
                    color: $clair;
                }
                .menu-item-icone{
                    transform: scale(1.2);
                }
            }

            .menu-item-icone {
                transition: transform 0.5s;
            }

            .icone__html {
                .menu-item-icone{
                    margin:auto;
                    margin-top: 2rem;
                    width: 5rem;
                    height: 5rem;
                    background-image: url('https://s2.svgbox.net/files.svg?ic=html');
                }
            }

            .icone__git {
                .menu-item-icone{
                    margin:auto;
                    margin-top: 4rem;
                    width: 5rem;
                    height: 5rem;
                    background-image: url('https://s2.svgbox.net/files.svg?ic=git');
                }
            }

            .icone__react {
                .menu-item-icone{
                    margin:auto;
                    margin-top: 4rem;
                    width: 5rem;
                    height: 5rem;
                    background-image: url('https://s2.svgbox.net/files.svg?ic=reactjs');
                }
            }

            .icone__css {
                .menu-item-icone{
                    margin:auto;
                    margin-top: 1rem;
                    width: 5rem;
                    height: 5rem;
                    background-image: url('https://s2.svgbox.net/files.svg?ic=css');
                }
            }
        }
    }
}