
#burger {
    position : absolute;
    padding: 12px 5px;
    transition : transform .3s;
    transform : rotate(0);
}
#chk-burger {
    display : none;
}

#chk-burger:checked ~ #burger {
    transform : rotate(90deg);
}
.site__header__menu {
    display : none;
}
#chk-burger:checked ~ .site__header__menu{
    display : block;
}

.menu{
    list-style-type: none;
    margin : 0;
    padding :0;
}
.site__header__menu__ul{
    margin:0;
    padding : 0;
    li:nth-child(2){
        margin-bottom: 5px;
    }
    a{
        display : block;
        text-decoration: none;
        padding : 4px;
        background-color: $color__background-link;
        &:hover {
            background-color: $color__background-link-hover;
        }
    }
}



@media screen and (min-width : $largeur__media--tablette){
    #burger {
        display : none;
    }
    .site__header__menu {
        display : block;
    }

}